<!DOCTYPE html>
<html>
  <head>
    <title>IMDBClone</title>
    <%= javascript_include_tag 'https://use.fontawesome.com/4f1036d1c5.js' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
